* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

.section-form {

    /* height: 570px; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    background-color: rgb(255, 196, 0);
    padding: 20px;
}

.section-form form input {
    display: block;
    width: 50%;
    height: 30px;
    margin: 5px auto;
    /* padding: 20px 0; */
    border: 1px solid beige;
    outline: none;

}

.section-form form input[type="submit"]:hover {
    opacity: 0.5;

}

