* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(225deg, #f28482 10%, #ffffff 50%, #84a59d 90%);


}

.wave::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 270px;
    background-image: url(../images/wave1.png);
    background-repeat: no-repeat;
    background-size: cover;

}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */