* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

nav {

    background-color: rgb(255, 255, 255);
    /* height: 80px; */
}

/* section {
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(225deg, #f28482 10%, #ffffff 50%, #84a59d 90%);


} */
main {
    height: 120vh;
    width: 100%;
    position: relative;
}

.main-sec {
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(225deg, #f28482 10%, #ffffff 50%, #84a59d 90%);

}

.main-contant {
    /* position: absolute; */
    width: 100%;
    height: 100%;

}

.main-sec .main-contant .content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: left;
    /* font-size: 35px;  */
    font-family: "Comfortaa", sans-serif;
    /* font-weight: bold; */
}

.main-contant .content h2 .fa-ice-cream {
    rotate: 30deg;

}

main .wave::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-image: url(../images/wave444.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.main-sec .main-img {
    width: 100%;
    height: 100%;
    /* background-color: blue; */


}

.main-sec .main-img .main-img-img {
    height: 100%;
    width: 100%;
    /* margin-top:-50px; */
    /* margin-left: -60px; */
}

/* ----------------titles------------------------- */

.titles {
    font-family: "Comfortaa", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    text-transform: capitalize;
}



/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.types .card-type {
    height: 270px;
    
    margin-top: 50px ;
    position: relative;
    border-radius: 20px;
    transition: 0.5s;
}

.types .card-type .type-img {
    position: absolute;
    height: 100%;
    border-radius: 20px;
}

.types .card-type .type-overlay {
    position: absolute;
    background-color: rgba(20, 20, 20, 0.7);
    color: aliceblue;
    text-align: center;
    padding-top: 100px;
    border-radius: 20px;
    letter-spacing: 1px;
    line-height: px;
    visibility: hidden;
    transition: 0.2s;
}


.types .card-type .type-overlay .card-title {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 40px;
}

.card-type:hover .type-overlay {
    visibility: visible;
}

.card-type:hover {
    transform: scale(1.05, 1.05);
}