* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

nav {
    height: 80px;
    z-index: 5;
}

nav ul#user_info {
    display: none;
}

nav ul#user_info li i {
    color: #000000;
    font-size: 30px;
    cursor: pointer;
    margin-top: 5px;
}

nav ul#user_info li .badge {
    position: absolute;
    width: 20px;
    height: 20px;
    color: #000000;
    background-color: #f0bf45;
    text-align: center;
    display: block;
    border-radius: 50%;
    top: 13px;
    right: 165px;
    font-size: 12px;
    display: none;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */

.shopping_cart .carts_products {
    position: absolute;
    width: 300px;
    transform: translate(-40%, 0);
    top: 70px;
    padding: 10px;
    border: 1px solid #84a59d;
    background-color: rgb(223, 221, 221);
    display: none;
}

.shopping_cart .carts_products a {
    display: block;
    background-color: #347f9c;
    color: white;
    margin: 4px 0;
    text-decoration: none;
    text-align: center;
}

.pls,
.minus {
    cursor: pointer;
    font-size: 25px;
    margin-top: -5px;
}

/* /////////////////////////////////////////////////////////////////////////////// */

main {
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(225deg, #f28482 10%, #ffffff 50%, #84a59d 90%);
}

.main-sec {
    height: 100%;
    width: 100%;
    position: absolute;
}

.main-contant {
    width: 100%;
    height: 100%;
}

.main-sec .main-contant .content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: left;
    font-family: "Comfortaa", sans-serif;
}

.main-contant .content h2 .fa-ice-cream {
    rotate: 30deg;
}

main .wave::before {
    content: "";
    position: absolute;
    display: block;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 330px;
    background-image: url(../images/wave444.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-sec .main-img {
    width: 100%;
    height: 100%;
    margin-top: -100px;
}

.main-sec .main-img .main-img-img {
    height: 100%;
    width: 100%;
}

/* ----------------titles------------------------- */

.titles {
    font-family: "Comfortaa", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    text-transform: capitalize;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.sec1 {
    position: relative;
}

.types .card-type {
    height: 300px;
    margin-top: 30px;
    position: relative;
    border-radius: 20px;
    transition: 0.5s;
}

.types .card-type .type-img {
    position: absolute;
    height: 100%;
    border-radius: 20px;
}

.types .card-type .type-overlay {
    position: absolute;
    background-color: rgba(20, 20, 20, 0.7);
    color: aliceblue;
    text-align: center;
    padding-top: 100px;
    border-radius: 20px;
    letter-spacing: 1px;
    line-height: px;
    visibility: hidden;
    transition: 0.2s;
}


.types .card-type .type-overlay .card-title {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 40px;
}

.card-type:hover .type-overlay {
    visibility: visible;
}

.card-type:hover {
    transform: scale(1.05, 1.05);
}

.sec1 .wave1::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 250px;
    background-image: url(../images/wave4441.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* /////////////////////////////////////////AboutSection_2//////////////////////////////////////////// */

.sec2 {
    background-color: rgba(242, 132, 130, 0.575);
}

.aboutabout-sec {
    position: relative;
}

.about-sec .wave::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-image: url(../images/wave444.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-sec .about-contant {
    margin-top: 220px;
}

.about-contant h2 .fa-ice-cream {
    rotate: 30deg;
}

.about-sec .about-img {
    width: 100%;
    height: 100%;
    margin-top: 150px;
}

.about-sec .about-img .about-img-img {
    height: 650px;
    width: 100%;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */
.Products-form {
    height: 550px;
}

.Products-form .Products-item-img {
    width: 90%;
    height: 350px;
}

.Products-form .card .products-contant h5 {
    font-weight: bolder;
}

.Products-form .card .products-contant .fa-heart {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 25px;
    cursor: pointer;
}

.Products-form .card .products-contant .RemoveFromCartBtn {
    display: none;
}

.Products-form .card .products-contant .AddToCartBtn {
    display: block;
}

/* ////////////////////////////////////////////////specialsSection///////////////////////////////////////////// */

.sec4 {
    background: linear-gradient(270deg, #fce1af 0%, #f5f4ec 80%);
}

.specials-sec {
    position: relative;
}


.specials-sec .specials-contant {
    margin-top: 100px;
}

.specials-contant h2 .fa-ice-cream {
    rotate: 30deg;
}

.specials-sec .specials-img {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.specials-sec .specials-img .specials-img-img {
    height: 500px;
    width: 100%;
}


/* /////////////////////////////////////////footerSection////////////////////////////////////////////// */
footer {
    padding: 50px;
    word-spacing: 2px;
    letter-spacing: 2px;
    line-height: 30px;
}

.footer-containt .footer-img {
    transition: 1s;
}

.footer-containt .footer-img:hover {
    background-color: #fce1af;
}

.footer-containt p a {
    color: #84a59d;
    text-decoration: none;
}

.footer-containt p a:hover {
    color: rgb(92, 96, 99);
}

.footer-containt div .icon-links a {
    color: #f28482;
    font-size: 28px;
    padding-left: 10px;
}

.footer-containt div .icon-links a:hover {
    color: rgba(242, 132, 130, 0.767);
}