* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

nav {
    /* background-color: rgb(248, 248, 248); */
    /* position: absolute; */
    height: 80px;
    z-index: 5;
}


nav ul#user_info li i {
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
    margin-top: 5px;
}

nav ul#user_info li .badge {
    position: absolute;
    width: 15px;
    height: 15px;
    /* background-color: #f28482; */
    color: #000000;
    background-color: #f0bf45;
    text-align: center;
    display: block;
    border-radius: 50%;
    top: 13px;
    right: 165px;
    font-size: 12px;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */
.shopping_cart .carts_products {
    /* position: relative; */
    position: absolute;
    width: 270px;
    transform: translate(-40%, 0);
    top: 70px;
    padding: 10px;
    border: 1px solid #84a59d;
    background-color: rgb(223, 221, 221);

}

.shopping_cart .carts_products a {
    display: block;
    color: #347f9c;
    margin: 4px 0;
    text-decoration: none;
    text-align: center;

}

/* /////////////////////////////////////////////////////////////////////////////// */
main {
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(225deg, #f28482 10%, #ffffff 50%, #84a59d 90%);

}

.main-sec {
    height: 100%;
    width: 100%;
    position: absolute;

}

.main-contant {
    width: 100%;
    height: 100%;
}

.main-sec .main-contant .content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: left;
    font-family: "Comfortaa", sans-serif;
}

.main-contant .content h2 .fa-ice-cream {
    rotate: 30deg;
}

main .wave::before {
    content: "";
    position: absolute;
    display: block;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 315px;
    background-image: url(../images/wave444.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.main-sec .main-img {
    width: 100%;
    height: 100%;
    margin-top: -100px;
}

.main-sec .main-img .main-img-img {
    height: 100%;
    width: 100%;
}

/* ----------------titles------------------------- */

.titles {
    font-family: "Comfortaa", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    text-transform: capitalize;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.sec1 {
    position: relative;
}

.types .card-type {
    height: 300px;
    margin-top: 30px;
    position: relative;
    border-radius: 20px;
    transition: 0.5s;
}

.types .card-type .type-img {
    position: absolute;
    height: 100%;
    border-radius: 20px;
}

.types .card-type .type-overlay {
    position: absolute;
    background-color: rgba(20, 20, 20, 0.7);
    color: aliceblue;
    text-align: center;
    padding-top: 100px;
    border-radius: 20px;
    letter-spacing: 1px;
    line-height: px;
    visibility: hidden;
    transition: 0.2s;
}


.types .card-type .type-overlay .card-title {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 40px;
}

.card-type:hover .type-overlay {
    visibility: visible;
}

.card-type:hover {
    transform: scale(1.05, 1.05);
}

.sec1 .wave1::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 250px;
    background-image: url(../images/wave4441.png);
    background-repeat: no-repeat;
    background-size: cover;

}

/* /////////////////////////////////////////SECTION|_2//////////////////////////////////////////// */

.sec2 {
    /* height: 700px; */
    background-color: rgba(242, 132, 130, 0.575);
    /* position: relative; */
}

.about-sec {
    position: relative;
    /* height: 100%; */
    height: 900px;
    /* background-color: #f28482; */

}

.about-sec .wave::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background-image: url(../images/wave444.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-sec .about-contant {
    margin-top: 220px;
}

.about-contant h2 .fa-ice-cream {
    rotate: 30deg;
}

.about-sec .about-img {
    width: 100%;
    height: 100%;
    margin-top: 150px;
}

.about-sec .about-img .about-img-img {
    height: 650px;
    width: 100%;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */
.Products-form {
    height: 450px;
    width: 25%;

}

.Products-form .Products-item-img {
    margin: 10px auto;
    width: 100%;
    height: 280px;
}

.Products-form .Products-item .products-contant {
    position: absolute;
    padding-top: 10px;

    width: 100%;

}

.Products-form .Products-item .products-contant h5 {
    font-weight: bolder;

}